################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FriendFinder/bin/Debug/net6.0
/FriendFinder/obj
/.vs
*/bin/*
*/obj/*
.vs